<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.song"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <!-- 添加sdcard权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <use-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </use-permission>
    <use-permission android:name="android.permission.RESTART_PACKAGES" >
    </use-permission>

    <application
        android:name="ImageApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".ImageShowActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:label="@string/app_name"
            android:name=".ui.BucketListActivity" 
             android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            >
         </activity>  
         
         <activity
            android:label="@string/app_name"
            android:name=".ui.BucketDetailActivity" 
             android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            >
         </activity>  
         
           <activity
            android:label="@string/app_name"
            android:name=".ui.ResultActivity" 
             android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            >
         </activity>  
    </application>

</manifest>