<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ritterliu.newBatteryWidget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:icon="@drawable/j"
        android:label="@string/app_name" >
        <receiver
            android:label="@string/app_name"
            android:name=".NewBatteryWidget" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/new_battery_widget"
                />
        </receiver>
       
       	<service android:name=".NewBatteryWidget$updateService"/>
       	    
        <activity android:name=".NewBatteryInfoActivity" android:label="OtherActiviy_app_name"
			android:theme="@android:style/Theme.Dialog">
			<!-- android:theme="@android:style/Theme.Dialog" 这是设置Activity的主题风格为对话框形式 -->
		</activity>
		
       	<service android:name=".NewBatteryInfoActivity$updateService"/>
       	
    </application>

</manifest>