<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiger.activitygroupdome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Tab_MainActivity"
            android:label="@string/title_activity_tab__main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity02_A" >
        </activity>
        <activity android:name=".Activity01_A" >
        </activity>
        <activity android:name=".Activity01_C" >
        </activity>
        <activity android:name=".Activity01_B" >
        </activity>
        <activity android:name=".GotoMianActicity" >
        </activity>
        <activity android:name=".TabGroupActivity" >
        </activity>
    </application>

</manifest>