<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:aop="http://www.springframework.org/schema/aop" 
xmlns:tx="http://www.springframework.org/schema/tx" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
					http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
					http://www.springframework.org/schema/aop 
					http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
					http://www.springframework.org/schema/tx 
					http://www.springframework.org/schema/tx/spring-tx-2.5.xsd ">
					
  
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	  
   
    <!-- topic -->
    <bean id="userDaoImpl" class="com.parabola.dao.impl.UserDaoImpl">
      <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
     
    <bean id="userServiceImpl" class="com.parabola.service.impl.UserServiceImpl">
      <property name="userDao" ref="userDaoImpl"></property> 
    </bean>
     
      
</beans>