<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:aop="http://www.springframework.org/schema/aop" 
xmlns:tx="http://www.springframework.org/schema/tx" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
					http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
					http://www.springframework.org/schema/aop 
					http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
					http://www.springframework.org/schema/tx 
					http://www.springframework.org/schema/tx/spring-tx-2.5.xsd ">
					
					

		<!-- 配置事务管理器 -->
		<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		   <property name="sessionFactory" ref="sessionFactory"></property>
           
		</bean>
		
		<!-- 配置事务传播特性-->
		<tx:advice id="txAdvice" transaction-manager="transactionManager">
		  <tx:attributes>
		     <tx:method name="save" propagation="REQUIRED"/>
		     <tx:method name="update" propagation="REQUIRED"/>
		     <tx:method name="delete" propagation="REQUIRED"/>
             <tx:method name="get" propagation="REQUIRED"/>
		     <tx:method name="*" read-only="false"/>
		  </tx:attributes>
		</tx:advice>
		
		<!-- 配置那些类的那些方法参与事务 -->
		<aop:config>
		  <aop:pointcut id="pointcut" expression="execution(* com.parabola.dao.*.*.*(..))" />
		  <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
		</aop:config>
	 
</beans>