<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.shinylife.smalltools" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="6" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".Splash" android:label="@string/app_name" android:theme="@style/ContentOverlay">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".SmallToolsActivity" android:theme="@style/ContentOverlay" />
		<activity android:name=".QueryAddress" android:theme="@style/ContentOverlay" />
		<activity android:name=".QueryIDCard" android:theme="@style/ContentOverlay" />
		<activity android:name=".QueryPhone" android:theme="@style/ContentOverlay" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>