<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.chuguangming"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon2" android:label="@string/app_name">
        <activity android:name=".GameMainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".KickFly"
			android:screenOrientation="landscape" android:label="@string/app_name">
			<intent-filter>
			</intent-filter>
		</activity>
		<activity android:name=".GameModeActivity"
			android:label="GameMode" android:screenOrientation="landscape">
			<intent-filter>
			</intent-filter>
		</activity>



    </application>
    <uses-sdk android:minSdkVersion="7" />

</manifest> 