<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="irdc.EX06_01"
  android:versionCode="1"
  android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name=".EX06_01"
      android:label="@string/app_name">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>
     <!-- 建立receiver聆聽系統廣播訊息 -->
    <receiver android:name="EX06_01_SMSreceiver"> 
    <!-- 設定要捕捉的訊息名稱為provider中Telephony.SMS_RECEIVED -->
  <intent-filter> 
    <action 
      android:name="android.provider.Telephony.SMS_RECEIVED" /> 
  </intent-filter> 
    </receiver>   
</application>
<uses-sdk android:minSdkVersion="7" />
<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
</manifest> 