<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="irdc.ex10_06"
  android:versionCode="1"
  android:versionName="1.0.0">
  <application
    android:icon="@drawable/icon"
    android:label="@string/app_name">
    <activity
      android:name=".EX10_06"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="EX10_06_02"
      android:label="@string/str_manu1">
    </activity>
    <activity
      android:name="EX10_06_03"
      android:label="@string/str_manu2">
    </activity>
    <activity
      android:name="EX10_06_04"
      android:label="@string/str_manu3">
    </activity>
    <uses-library android:name="com.google.android.maps"/>
  </application>
  <uses-sdk android:minSdkVersion="7" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET"/>
</manifest> 