<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cn.itcreator.android.reader" android:versionCode="1"
	android:versionName="1.0.0">

	<uses-sdk android:minSdkVersion="2"></uses-sdk>

	<application android:icon="@drawable/icon" android:label="@string/app_name">




		<activity android:name="cn.itcreator.android.reader.views.CustomViewActivity"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
		</activity>



		<activity android:name=".TxtActivity"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
		</activity>




		<activity android:name=".IndexActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".FileBrowser"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:label="@string/app_name">
		</activity>
		<activity android:name=".ImageBrowser"
			android:configChanges="orientation|keyboardHidden|navigation"></activity>
		<activity android:name=".FontSetActivity"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:label="@string/changefont"></activity>
		<activity android:name=".PictureBrowser"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:label="@string/picturebrowser"></activity>
		<activity android:name=".HtmlBrowser"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:label="@string/htmlbrowser"></activity>
		<activity android:name="UMDBrowser"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:label="@string/htmlbrowser"></activity>
	</application>
</manifest> 