<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bus.shenyang"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".BusActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Internet" >
        </activity>
        <activity android:name=".activity.Line" >
        </activity>
        <activity android:name=".activity.More" >
        </activity>
        <activity android:name=".activity.Stop" >
        </activity>
        <activity android:name=".activity.Transfer" >
        </activity>
        <activity android:name=".net.BusNet" >
        </activity>
        <activity android:name=".net.NoSubway" >
        </activity>
        <activity android:name=".net.TimeFirst" >
        </activity>
        <activity android:name=".net.TransferFirst" >
        </activity>
        <activity android:name=".net.WalkFirst" > </activity>
        <activity android:name=".net.Detailed"></activity> 
     <activity android:name="com.waps.OffersWebView" />
        <meta-data android:name="APP_ID" android:value="243988d2b20a7c04aa412689fe4c6a37" />
        <meta-data android:name="APP_PID" android:value="WAPS" />
    </application>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>      
     <uses-permission android:name="android.permission.GET_TASKS" />
      <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk android:minSdkVersion="8" >
    </uses-sdk>

</manifest>